<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <title>@ViewBag.Title </title>
    <!-- Fontfaces CSS-->
    <link href="~/Content/AdminDesign/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Content/AdminDesign/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Content/AdminDesign/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Content/AdminDesign/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
    <link href="~/Content/AdminDesign/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <!-- Vendor CSS-->
    <link href="~/Content/AdminDesign/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Content/AdminDesign/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Content/AdminDesign/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Content/AdminDesign/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Content/AdminDesign/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Content/AdminDesign/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/AdminDesign/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="~/Content/AdminDesign/vendor/vector-map/jqvmap.min.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="~/Content/AdminDesign/css/theme.css" rel="stylesheet" media="all">


    @*<link href="~/Content/AdminDesign/css/bootstrap.css" rel="stylesheet" type="text/css" />*@


    @*
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>*@
</head>
<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2">
            <div class="logo">
                <a href="#" style="color:white;">
                    Welcome Admin
                    @*<img src="~/Content/AdminDesign/images/icon/logo-white.png" alt="Cool Admin" />*@
                </a>
            </div>
            <div class="menu-sidebar2__content js-scrollbar1">
                <div class="account2">
                    <div class="image img-cir img-120">
                        <img src="~/Content/AdminDesign/images/icon/avatar-big-01.jpg" alt="John Doe" />
                    </div>

                    @*@if (ViewBag.name != null)
                        {*@
                    <h5 class="name">@ViewBag.User </h5>
                    @* } *@
                    <a href="#"> @Html.ActionLink("Log Out", "Login", "Home")</a>
                </div>
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="@Url.Action("AdminHome", "AdminDash")">
                                <i class="fas fa-tachometer-alt"></i>Dashboard

                            </a>

                        </li>
                        <li>
                            <a href="@Url.Action("viewReq_Demo", "AdminDash")">
                                <i class="icon fas fa-envelope"></i>Inbox
                            </a>
                            <span class="inbox-num">@ViewBag.count</span>
                        </li>

                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="nav-icon fas fa-images"></i>Slider
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="@Url.Action("UploadSliderImage", "AdminDash")">
                                        <i class="far fa-check-square"></i>Manage Slider
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Clients
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="@Url.Action("Clients","AdminDash")">
                                        <i class="fas fa-sign-in-alt"></i>Manage Clients
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas  fas fa-tags"></i>Products
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="@Url.Action("Products", "AdminDash")">
                                        <i class="far fa-check-square"></i>Add Products
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ManageProducts","AdminDash")">
                                        <i class="fas fa-table"></i>Manage Product
                                    </a>
                                </li>


                            </ul>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Header Image
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="@Url.Action("Clients","AdminDash")">
                                        <i class="fas fa-sign-in-alt"></i>Manage Clients
                                    </a>
                                </li>

                            </ul>
                        </li>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-cogs"></i>Services
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="@Url.Action("Services","AdminDash")">
                                        <i class="fas fa-sign-in-alt"></i>Manage Services
                                    </a>
                                </li>
                                @*<li>
                    <a href="@Url.Action("ManageServices","AdminDash")">
                        <i class="fas fa-sign-in-alt"></i>Manage Services
                    </a>
                </li>*@
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class=" zmdi zmdi-settings"></i>Settings
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="@Url.Action("Utilities", "AdminDash")">
                                        <i class="nav-icon fas fa-tools"></i>Website Setings
                                    </a>
                                </li>
                                @*<li>
                    <a href="register.html">
                        <i class="fas fa-user"></i>Register
                    </a>
                </li>
                <li>
                    <a href="forget-pass.html">
                        <i class="fas fa-unlock-alt"></i>Forget Password
                    </a>
                </li>*@
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop2">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap2">
                            <div class="logo d-block d-lg-none">
                                <a href="#">
                                    Welcome Admin
                                    @*<img src="images/icon/logo-white.png" alt="CoolAdmin" />*@
                                </a>
                            </div>
                            <div class="header-button2">
                                <div class="header-button-item mr-0 js-sidebar-btn">
                                    <i class="zmdi zmdi-menu"></i>
                                </div>
                                <div class="setting-menu js-right-sidebar d-none d-lg-block">
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account"></i>Account
                                            </a>
                                        </div>
                                       

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
                <div class="">
                    <a href="#">
                        Welcome Admin
                        @* <img src="images/icon/logo-white.png" alt="Cool Admin" />*@
                    </a>
                </div>
                <div class="menu-sidebar2__content js-scrollbar2">
                    <div class="account2">
                        <div class="image img-cir img-120">
                            <img src="~/Content/AdminDesign/images/icon/avatar-01.jpg" alt="John Doe" />
                        </div>
                        <h5 class="name">@Session["UserName"] </h5>

                        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                        {
                            <a href="javascript:;" onclick="document.forms[0].submit();">Logout</a>
                        }

                        @* <a href="#"> @Html.ActionLink("Log Out", "Logout", "AdminDash")</a>*@
                    </div>
                    <nav class="navbar-sidebar2">
                        <ul class="list-unstyled navbar__list">
                            <li class="active has-sub">
                                <a class="js-arrow" href="@Url.Action("AdminHome", "AdminDash")">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard

                                </a>

                            </li>
                            <li>
                                <a href="@Url.Action("viewReq_Demo", "AdminDash")">
                                    <i class="icon fas fa-envelope"></i>Inbox
                                </a>
                                <span class="inbox-num">@ViewBag.count</span>
                            </li>

                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="nav-icon fas fa-images"></i>Slider
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="@Url.Action("UploadSliderImage", "AdminDash")">
                                            <i class="far fa-check-square"></i>Manage Slider
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-copy"></i>Clients
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="@Url.Action("Clients","AdminDash")">
                                            <i class="fas fa-sign-in-alt"></i>Manage Clients
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas  fas fa-tags"></i>Products
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="@Url.Action("Products", "AdminDash")">
                                            <i class="far fa-check-square"></i>Add Products
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ManageProducts","AdminDash")">
                                            <i class="fas fa-table"></i>Manage Product
                                        </a>
                                    </li>


                                </ul>
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-copy"></i>Header Image
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="@Url.Action("Clients","AdminDash")">
                                            <i class="fas fa-sign-in-alt"></i>Manage Clients
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            </li>
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-cogs"></i>Services
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="@Url.Action("Services","AdminDash")">
                                            <i class="fas fa-sign-in-alt"></i>Manage Services
                                        </a>
                                    </li>
                                    @*<li>
                            <a href="@Url.Action("ManageServices","AdminDash")">
                                <i class="fas fa-sign-in-alt"></i>Manage Services
                            </a>
                        </li>*@
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class=" zmdi zmdi-settings"></i>Settings
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="@Url.Action("Utilities", "AdminDash")">
                                            <i class="nav-icon fas fa-tools"></i>Website Setings
                                        </a>
                                    </li>
                                   
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </aside>
            <!-- END HEADER DESKTOP-->
        

            <div class="container body-content" style="margin-top:80px;">
                <br />
                @RenderBody()
                <hr />
                <section>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END PAGE CONTAINER-->
            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    <script src="~/Content/AdminDesign/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Content/AdminDesign/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Content/AdminDesign/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Content/AdminDesign/vendor/slick/slick.min.js">
    </script>
    <script src="~/Content/AdminDesign/vendor/wow/wow.min.js"></script>
    <script src="~/Content/AdminDesign/vendor/animsition/animsition.min.js"></script>
    <script src="~/Content/AdminDesign/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/Content/AdminDesign/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Content/AdminDesign/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/Content/AdminDesign/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Content/AdminDesign/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Content/AdminDesign/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Content/AdminDesign/vendor/select2/select2.min.js">
    </script>
    <script src="~/Content/AdminDesign/vendor/vector-map/jquery.vmap.js"></script>
    <script src="~/Content/AdminDesign/vendor/vector-map/jquery.vmap.min.js"></script>
    <script src="~/Content/AdminDesign/vendor/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="~/Content/AdminDesign/vendor/vector-map/jquery.vmap.world.js"></script>
    <!-- Main JS-->
    <script src="~/Content/AdminDesign/js/main.js"></script>




    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
